/*底部按钮分区*/
#ChatB{
	position: absolute;
	width: 140px;
	height: 60px;
	border-right: 2px solid #DEEFF8;
	display: flex;
	justify-content: center;
	align-items: center;
}

#DataB{
	position: absolute;
	left: 140px;
	width: 140px;
	height: 60px;
	border-right: 2px solid #DEEFF8;
	display: flex;
	justify-content: center;
	align-items: center;
}

#OtherB{
	position: absolute;
	left: 280px;
	width: 140px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}


/*魔改css主要功能*/
#ChatMainContainer{
	display: none;
	position: absolute;
}

#ChatOtherContainer{
	display: none;
	position: absolute;
    top: 100px;
    left: 10px;
    right: 10px;
    height: 645px;
    border: 1px solid #C8C8C8;
	overflow-y: auto;
}

#ChatOtherArea{
	position: relative;
}

/*包含了整个动态信息*/
.CircleContainer {
    display: flex;
	flex-direction: column; /* 子元素垂直堆叠 */
    align-items: center; /* 子元素在水平方向上居中 */
    justify-content: flex-end;
    align-items: center;
    min-height: 80px;
    background-color: #FFFFFF;
}

.CircleContainer + .CircleContainer {
    margin-top: 15px; /* 只给后续的 CircleContainer 添加间距 */
}

/*信息栏，预定分为三块，依次为头像、昵称+签名、小爱心*/
#CircleInformation{
	display: flex;
	height: 100px;
	width: 100%;
}

.childCI{
	height: 100%;
}

#firstCI {
    width: 100px; /* 第一个 div 的宽度 */
    background-color: #FFFFFF; /* 可选：背景颜色 */
}

#firstCI img{
	position: relative;
	display: block;
	top: 10px;
	left: 10px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

#secondCI {
	display: flex; /* 启用 Flexbox */
    flex-direction: column; /* 纵向排列子元素 */
    flex-grow: 1; /* 占用剩余空间 */
    background-color: #FFFFFF; /* 可选：背景颜色 */
    height: 100%; /* 确保容器的高度占满父元素 */
}

.CircleNickName{
	position: relative;
	top: 15px;
	left: 7px;
	width: 280px;
	font-size: 24px;
	color: #000;
    font-family: 'SimHei', '黑体', sans-serif;

}
.CircleSig{
	position: relative;
	top: 15px;
	left: 7px;
	width: 280px;
	font-size: 15px;
	color: #959595;
    font-family: 'SimHei', '黑体', sans-serif;

}

#thirdCI {
	display: flex; /* 启用 flexbox */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    width: 90px; /* 第三个 div 的宽度 */
    background-color: #FFFFFF; /* 可选：背景颜色 */
}

/*上下同级关系*/
/*动态的文本*/
#CircleText{
	position: relative;
	max-width: 330px;
	min-height: 100px;
	background-color: #E6F2F3;
	font-size: 20px;
	color: #000;
	font-family: 'SimHei', '黑体', sans-serif;
	margin-bottom: 15px;
	margin-top: 0px;
	padding: 12px;
}

/*小爱心*/
#CircleLike{
	position: relative;
}

/*昵称+签名(划分俩区域)*/
#CircleNameContainer{
	display: flex;
}

/*头像*/
#CirclePhoto{
	height: 80px;
	width: 80px;
	flex-shrink: 0;
	margin-right: 10px;
	background-image: url('img/phone/Photo/type1.png');
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	display: block;
}

/*魔改css设置相关存放处*/

#PhotoButtonContainer{
	position: absolute;
	content: none;
	top: 580px;
	height: 40px;
	left: 25px;
	color: #074E9D;
    cursor: pointer;
	font-size: 20px;
    font-family: 'SimHei', '黑体', sans-serif;
}

#PCchangeContainer{
	position: absolute;
	top: 370px;
	left: 25px;
	right: 25px;
	border-bottom: 1px solid #A9A9A9;
	height: 200px;
}

#nicknameContainer{
	display: flex;
	position: absolute;
	left: 25px;
	right: 25px;
	height: 175px;
	border-bottom: 1px solid #A9A9A9;
}

#PhotochangeContainer{
	position: absolute;
	top: 170px;
	left: 25px;
	right: 25px;
	border-bottom: 1px solid #A9A9A9;
	height: 200px;
}

#PhotoChange{
	display: flex;
	position: absolute;
	top: 60px;
	left: 0px;
	right: 15px;
	height: 110px;
}

.changephoto {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 7px;
}

#ChangeArea{
	display: flex;
	position: absolute;
	top: 160px;
	left: 0px;
	right: 6px;
	height: 40px;
}

#changefont{
	color: #074E9D;
    cursor: pointer;
	font-size: 23px;
    font-family: 'SimHei', '黑体', sans-serif;
}

#SettingTitle{
	position: absolute;
	top: 10px;
	height: 50px;
	color: #000000;
    font-size: 24px;
    font-family: 'SimHei', '黑体', sans-serif;
}

#InputArea{
	position: absolute;
	top: 60px;
	left: 0px;
	border: 0.5px solid #858585;
	background-color: #FFFFFF;
	color: #000000;
}

#GetArea{
	position: absolute;
	content: none;
	top: 100px;
	height: 40px;
	color: #074E9D;
    cursor: pointer;
	font-size: 20px;
    font-family: 'SimHei', '黑体', sans-serif;
}

#ClearNickname{
	position: absolute;
	left: 160px;
	top: 100px;
	height: 40px;
	color: #074E9D;
    cursor: pointer;
	font-size: 20px;
    font-family: 'SimHei', '黑体', sans-serif;
}

/*魔改css公用*/
#PhotoSetting {
	position: absolute;
	width: auto;
	height: auto;
	right: 20px;
	top: 45px;
}

#arrow_ToContact {
	position: absolute;
	width: auto;
	height: auto;
	left: 20px;
	top: 45px;
}

#arrow_ToChat {
	position: absolute;
	width: auto;
	height: auto;
	left: 20px;
	top: 45px;
}

#PhoneOverlayContainer{
	display: none;
	transform: scale(0.8); /* 缩小为原来的 80% */
    transform-origin: center;
	position: fixed;
	z-index: 999;
	top: 0px;
	left: 0px;
	width: 420px;
	height: 810px;
	pointer-events: all;
	backdrop-filter: blur(3px);
}

/*魔改css公用手机背景*/
#phoneOverlay {
	border-radius: 20px;
	position: relative;
	z-index: 1000;
    width: 420px;
    height: 810px;
    background-color: #F5F5F5;
}

/*魔改css时间条*/
#PhonetimeContainer{
	border-radius: 20px 20px 0px 0px;
    z-index: 1001;
	height: 30px;
	background-color: #808080;
}

#Phonetime{
	position: absolute;
    z-index: 1002;
	right: 45%;
}

/*魔改css公用标题*/
#PhoneTitleContainer{
	top: 30px;
    height: 60px;
    z-index: 1002;
    border-bottom: 2px solid #DFDFDF;
    display: flex;
    align-items: center;
    justify-content: center;
}

#PhoneTitle{
	position: relative;
    text-align: center;
    color: #6B6B6B;
    font-size: 25px;
    font-family: Arial, sans-serif;
}

#ChatTitle{
	position: relative;
    text-align: center;
    color: #6B6B6B;
    font-size: 25px;
    font-family: Arial, sans-serif;
}

/*魔改css设置大容器*/
#SettingContainer{
	display: none;
	border-radius: 0px 0px 20px 20px;
    z-index: 1001;
	top: 30px;
	height: 780px;
}

#SettingBoder{
	position: absolute;
    top: 100px;
    left: 11px;
    right: 11px;
    height: 690px;
	overflow-y: auto;
    border: 1px solid #C8C8C8;
}

/*魔改css联系人大容器*/
#BigContainer{
	border-radius: 0px 0px 20px 20px;
    z-index: 1001;
	top: 30px;
	height: 780px;
}

/*魔改css聊天大容器*/
#ChatContainer{
	display: none;
	border-radius: 0px 0px 20px 20px;
    z-index: 1001;
	top: 30px;
	height: 780px;
}

/*魔改css对话区域*/
#PhoneMainContainer{
	position: absolute;
    top: 100px;
    left: 10px;
    right: 10px;
    height: 530px;
    border: 1px solid #C8C8C8;
	overflow-y: auto;
}

#ChatArea{
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
}

/*PC头像+对话框*/
.PC-ChatContainer{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 120px;
	min-width: 80px;
}

#PC-ChatPhoto{
	height: 80px;
	width: 80px;
	flex-shrink: 0;
}

#PC-ChatPhoto img{
	height: auto;
	width: 100%;
	display: block;
	border-radius: 10px;
}
/*为了适应ml做的调整*/
#PC-ChatPhototype1 {
	height: 80px;
	width: 80px;
	flex-shrink: 0;
	background-image: url('img/phone/PCPhoto/type1.png');
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	display: block;
}
#PC-ChatPhototype2 {
	height: 80px;
	width: 80px;
	flex-shrink: 0;
	background-image: url('img/phone/PCPhoto/type2.png');
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	display: block;
}
#PC-ChatPhototype3 {
	height: 80px;
	width: 80px;
	flex-shrink: 0;
	background-image: url('img/phone/PCPhoto/type3.png');
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	display: block;
}
/*--------------------------*/

.chat-bubble-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.chat-bubble {
    position: relative;
    background-color: #CCF1AB;
    border-radius: 15px;
    padding: 10px 20px;
    color: #333;
    max-width: 85%;
}

.chat-bubble::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 100%;
    border: 15px solid transparent;
    border-left-color: #CCF1AB;
    border-right: 0;
    margin-top: -15px;
    margin-left: -1px;
}

/*惠的头像+对话框*/
.W-ChatContainer{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 120px;
	min-width: 80px;
}

#W-ChatPhoto{
	height: 80px;
	width: 80px;
	flex-shrink: 0;
	margin-right: 10px;
}

#W-ChatPhoto img{
	height: auto;
	width: 100%;
	display: block;
	border-radius: 10px;
}

/*为了适应ML做出的调整*/
#W-ChatPhototype1 {
	height: 80px;
	width: 80px;
	flex-shrink: 0;
	margin-right: 10px;
	background-image: url('img/phone/Photo/type1.png');
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	display: block;
}
#W-ChatPhototype2 {
	height: 80px;
	width: 80px;
	flex-shrink: 0;
	margin-right: 10px;
	background-image: url('img/phone/Photo/type2.png');
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	display: block;
}
#W-ChatPhototype3 {
	height: 80px;
	width: 80px;
	flex-shrink: 0;
	margin-right: 10px;
	background-image: url('img/phone/Photo/type3.png');
	background-size: cover;
	background-position: center;
	border-radius: 10px;
	display: block;
}

.W_chat-bubble-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.W_chat-bubble {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 15px;
    padding: 10px 20px;
    color: #333;
    max-width: 85%;
    align-self: flex-start;
}

/* 气泡小尾巴调整为左侧 */
.W_chat-bubble::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    right: 100%;
    border: 15px solid transparent;
    border-right-color: #FFFFFF;
    border-left: 0;
    margin-top: -15px;
    margin-right: -1px;
}

/*对话选项区*/
#SelectContainer{
	position: absolute;
	top: 635px;
	left: 10px;
    right: 10px;
	height: 110px;
	background-color: #FFFFFF;
	display: flex;
	flex-direction: column;
}

.sub-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #ccc;
}

.sub-container:first-child {
    border-top: none;
}

/*约会选项区*/
#SelectContainer2{
	display: none;
	position: absolute;
	top: 635px;
	left: 10px;
    right: 10px;
	height: 110px;
	background-color: #FFFFFF;
}

#BottomSelectContainer{
	display: flex;
	position: absolute;
	top: 750px;
	height: 60px;
	width: 420px;
	background-color: #C8D0D4;
	border-radius: 0px 0px 20px 20px;
}


/*下全为联系人*/
#ContactorContainer{
	position: absolute;
    top: 100px;
    left: 13px;
    right: 13px;
    height: 690px;
}

#ContactorArea{
	display: flex;
	position: absolute;
    left: 15px;
    right: 15px;
    height: 110px;
    border-bottom: 1.5px solid #C8C8C8;
}

#ContactPhoto{
	position: absolute;
	top: 15px;
	height: 90px;
    width: 90px;
    margin-right: auto;
}

#ContactPhoto img{
	width: 100%;
    height: auto;
    display: block;
	border-radius: 5px;
}

#ContacortName{
	position: absolute;
	left: 110px;
	top: 10px;
	height: 40px;
    color: #000000;
    font-size: 30px;
    font-family: 'Consolas', sans-serif;
	font-weight: bold;
}

#StateColor-red{
	position: absolute;
	height: 13px;
	width: 13px;
	left: 110px;
	top: 83px;
	border-radius: 50%;
	background-color: #B21400;
}

#StateColor-green{
	position: relative;
	height: 13px;
	width: 13px;
	left: 110px;
	top: 83px;
	border-radius: 50%;
	background-color: #61E55F;
}

#StateDescription{
	position: absolute;
	height: 20px;
	left: 130px;
	top: 77px;
	color: #696969;
    font-size: 14px;
    font-family: 'SimHei', '黑体', sans-serif;
	letter-spacing: 1px;
}